body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  
  .container {
    width: 450px;
    border: 1px solid #ccc;
    padding: 20px;
  }
  
  li {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    
  }
  
  .completed {
    text-decoration: line-through;
    color: gray;
  }
  
  button {
    cursor: pointer;
  }

  #task-list{
    min-width: 300px;
    min-height: 400px;
    background-color: skyblue;
  }